:root {
  --fillbackground: rgba(255, 249, 246, 1);
  --neutral-80: rgba(64, 64, 64, 1);
  --neutral-100: rgba(6, 6, 6, 1);
  --neutral-50: rgba(140, 140, 140, 1);
  --primary-500: rgba(251, 104, 65, 1);
  --label-colorlightprimary: rgba(0, 0, 0, 1);
  --neutral-70: rgba(89, 89, 89, 1);
  --fillwhite: rgba(255, 255, 255, 1);
  --water-blue400: rgba(60, 162, 213, 1);
  --neutral-90: rgba(38, 38, 38, 1);
  --neutral-60: rgba(115, 115, 115, 1);
  --wireframe-0: rgba(255, 255, 255, 1);
  --lights-100: rgba(245, 245, 245, 1);
  --darks-100: rgba(34, 34, 34, 1);
  --primary-200: rgba(253, 195, 179, 1);
  --neutral-30: rgba(217, 217, 217, 1);
  --primary-300: rgba(253, 164, 141, 1);
  --primary-50: rgba(255, 242, 238, 1);
  --themeprimary: rgba(88, 101, 242, 1);
  --18-regular-font-family: "Poppins", Helvetica;
  --18-regular-font-weight: 400;
  --18-regular-font-size: 18px;
  --18-regular-letter-spacing: 0px;
  --18-regular-line-height: 139.9999976158142%;
  --18-regular-font-style: normal;
  --14-medium-font-family: "Poppins", Helvetica;
  --14-medium-font-weight: 500;
  --14-medium-font-size: 14px;
  --14-medium-letter-spacing: 0px;
  --14-medium-line-height: 139.9999976158142%;
  --14-medium-font-style: normal;
  --24-regular-font-family: "Poppins", Helvetica;
  --24-regular-font-weight: 400;
  --24-regular-font-size: 24px;
  --24-regular-letter-spacing: 0px;
  --24-regular-line-height: 32px;
  --24-regular-font-style: normal;
  --16-medium-font-family: "Poppins", Helvetica;
  --16-medium-font-weight: 500;
  --16-medium-font-size: 16px;
  --16-medium-letter-spacing: 0px;
  --16-medium-line-height: 129.99999523162842%;
  --16-medium-font-style: normal;
  --32-semibold-font-family: "Poppins", Helvetica;
  --32-semibold-font-weight: 600;
  --32-semibold-font-size: 32px;
  --32-semibold-letter-spacing: 0px;
  --32-semibold-line-height: 32px;
  --32-semibold-font-style: normal;
  --32-medium-font-family: "Poppins", Helvetica;
  --32-medium-font-weight: 500;
  --32-medium-font-size: 32px;
  --32-medium-letter-spacing: 0px;
  --32-medium-line-height: 32px;
  --32-medium-font-style: normal;
  --16-regular-font-family: "Poppins", Helvetica;
  --16-regular-font-weight: 400;
  --16-regular-font-size: 16px;
  --16-regular-letter-spacing: 0px;
  --16-regular-line-height: 24px;
  --16-regular-font-style: normal;
  --20-medium-font-family: "Poppins", Helvetica;
  --20-medium-font-weight: 500;
  --20-medium-font-size: 20px;
  --20-medium-letter-spacing: 0px;
  --20-medium-line-height: 32px;
  --20-medium-font-style: normal;
  --24-medium-font-family: "Poppins", Helvetica;
  --24-medium-font-weight: 500;
  --24-medium-font-size: 24px;
  --24-medium-letter-spacing: 0px;
  --24-medium-line-height: 32px;
  --24-medium-font-style: normal;
  --16-semibold-font-family: "Poppins", Helvetica;
  --16-semibold-font-weight: 600;
  --16-semibold-font-size: 16px;
  --16-semibold-letter-spacing: 0px;
  --16-semibold-line-height: 24px;
  --16-semibold-font-style: normal;
  --12-regular-font-family: "Poppins", Helvetica;
  --12-regular-font-weight: 400;
  --12-regular-font-size: 12px;
  --12-regular-letter-spacing: 0px;
  --12-regular-line-height: 16px;
  --12-regular-font-style: normal;
}
